# ========================
# Python
# ========================
__pycache__/
*.py[cod]

# ========================
# Virtual environment
# ========================
.venv/
venv/
env/


# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS / Editor junk
# ========================
.DS_Store
Thumbs.db
